<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% extends 'asisten/base.html' %}
{% block content %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a href="{% url 'home_page' %}"><b> <---Back </b></a>
	</nav>

	<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus Pekerja : {{ asisten.nama_pekerja }} ?
	<form action="" method="post">
		{% csrf_token %}
		<input type="submit" class="btn btn-danger" name="" value="Ya, yakin!">
	</form>
{% endblock %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">