<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


{% extends 'asisten/base.html' %}
{% block content %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a href="{% url 'home_page' %}"><b> <---Back </b></a>
	</nav>

	<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
	<h3>Edit Data Pekerja</h3>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="" value="Update"class="btn btn-danger">
	</form>
{% endblock %}
</div>
</body>
</html>