<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% extends 'asisten/base.html' %}
{% block content %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a href="{% url 'home_page' %}"><b> <---Back </b></a>
	</nav>

	<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
	<h3 style="color: deepink">{{asisten.nama_pekerja}}</h3>
	<b>Kategori:</b>
	{% if  asisten.kategori == 'sp' %}	Supir
		{% elif asisten.kategori == 'ss' %} Suster
			{% else %} Asisten
	{% endif %}
	<br>
	<b>Pengalaman kerja :</b>{{asisten.pengalaman}} tahun<br>
	<b>Alamat Rumah :</b> {{ asisten.alamat_rumah }}<br>
	<b>Usia :</b>{{asisten.usia}} tahun<br>
	<b>Gaji: </b>{{asisten.gaji}}<br>
	<h6>
	<a href="{% url 'pekerja_edit' asisten.id %}" class="btn btn-success">Edit Pekerja</a> &nbsp;
	<a href="{% url 'pekerja_delete' asisten.id %}" class="btn btn-warning">Hapus Pekerja</a>
	<hr class="d-sm-none">
    </div>
{% endblock %}
<hr class="d-sm-none">
    </div>
</body>
</html>